$MQ_ZERO: 420px;
$MQ_MOBILE: 768px;
$MQ_TABLET: 1024px;
$MQ_LAPTOP: 1440px;
$MQ_DESKTOP: 1920px;

$CONTAINER_WIDTH: 1400px;
$GRID_GAP: 4rem;

$GOLDEN: #ddb47f;
$WHITE: white;
$TEXT_COLOR: #242848;
$BLACK: #1d203a;
$SNOW: #f9f9fa;
$GRAY: #d3d4da;

$RADIUS: 0.5rem;
